.thead > tr > th {
  color:blue;
  font-size: 1.2rem;
}

.tbody > tr > td{
  padding:2rem;
}

.table,th,td{
    border:3px solid #cecece;
    border-collapse: collapse;
}

.del,.edit{
  padding:0.3rem 1rem;
  border-radius: 0.2rem;
  border: none;
  background-color: red;
  color:#fff;
  font-size:1rem;
  font-family: Arial, Helvetica, sans-serif;
  cursor:pointer;
}
.edit{
  background-color: orangered;
}

.table{
  margin-top:40px;
  margin:auto;
  background-color: beige;
}